<!DOCTYPE html>
<html class="no-js" lang="de" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title itemprop="name"></title>

        <meta itemprop="description" name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta itemprop="image" content="">

        <link rel="stylesheet" href="styles/styles.min.css">
        <link rel="stylesheet" href="media.css" media="(min-width: 4000px)"> <!-- non-blocking -->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
      
        <meta property="og:title" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />

        <link rel="alternate" type="application/rss+xml" title="" href="">
        <link rel="author" href="">
        <link rel="publisher" href="">

        <link rel="icon" href="/path/favicon.ico" type="image/x-icon" />

        <script src="vendor/modernizr/modernizr.js"></script>
    </head>

    <body>

        div#wrapper>((header.header[role="banner"]>h1{Pagetitle}+a.logo[title="Home"]>img[alt="Logo"])+nav.navigation[role="navigation"]>ul>li*5>a[title]{navi})+(main.main[role="main"]>(section>p>lorem)+(section>p>lorem)+aside.aside[role="complementary"])+footer.footer[role="contentinfo"]>div

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="vendor/jquery/jquery.min.js"><\/script>')</script>-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="scripts/scripts.min.js"></script>
        <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-XXXXXX-X']);_gaq.push(['_gat._anonymizeIp']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
        </script>
    </body>
</html>
