<link rel="import" href="../../vendor/bower/polymer/polymer.html">

<polymer-element name="mobile-navigation">
	<template>
		<style type="text/css">
			.navigation {
				height: 100px;
				width: 100%;
			}
			h1 {
				margin-top: 0;
			}
		</style>
		<div class="navigation">
			<!-- ul>li.nav-item*5>a[href="#" title="Navigation $"]{Navigation $} -->
			<ul>
				<li class="nav-item"><a href="#" title="Navigation 1">Navigation 1</a></li>
				<li class="nav-item"><a href="#" title="Navigation 2">Navigation 2</a></li>
				<li class="nav-item"><a href="#" title="Navigation 3">Navigation 3</a></li>
				<li class="nav-item"><a href="#" title="Navigation 4">Navigation 4</a></li>
				<li class="nav-item"><a href="#" title="Navigation 5">Navigation 5</a></li>
			</ul>
		</div>
	</template>
	<script>
		Polymer({
			subject: '@320px',
			ready: function() {
				//...
			}
		});
	</script>
</polymer-element>
