// colors
$color-main: #444;

// fonts
$font-text: Arial, Helvetica, sans-serif;
@mixin font-text { font: normal 1em/1.4 $font-text; color: $color-main; }
$font-headline: Arial, Helvetica, sans-serif;
@mixin font-headline { font: normal 2em/1.2 $font-headline; }

// behaviors (bv-)
$grid: 5%;
$max-width: 1024px;
@mixin bv-column($count) { width: $grid*$count; }
@mixin bv-center { margin: 0 auto; }
@mixin bv-center-absolute { position: absolute; left: 50%; }
@mixin bv-float-left { float: left; }
@mixin bv-float-right { float: right; }
.bv-width-max { @include bv-column(12); }
.bv-center { @include bv-center; }
.bv-center-absolute { @include bv-center-absolute }
.bv-float-left { @include bv-float-left }
.bv-float-right { @include bv-float-right }

// designs (ds-)
@mixin ds-box-shadow { box-shadow: 3px 3px 3px rgba(20,20,20,.3); }
@mixin ds-text-shadow { text-shadow: 1px 1px 1px rgba(20,20,20,.3); }
@mixin ds-border-radius($radius) { -webkit-border-radius: $radius;  -moz-border-radius: $radius;  -ms-border-radius: $radius; -o-border-radius: $radius;  border-radius: $radius; }
@mixin ds-gradient ($color1, $stop1, $color2, $stop2) { background: $color1; background: -moz-linear-gradient(top,  $color1 $stop1, $color2 $stop2); background: -webkit-gradient(linear, left top, left bottom, color-stop($stop1,$color1), color-stop($stop2,$color2)); background: -webkit-linear-gradient(top,  $color1 $stop1, $color2 $stop2); background: -o-linear-gradient(top,  $color1 $stop1, $color2 $stop2); background: -ms-linear-gradient(top, $color1 $stop1, $color2 $stop2); background: linear-gradient(to bottom,  $color1 $stop1, $color2 $stop2); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }

// layout with sticky footer
html { 	-webkit-font-smoothing: antialiased }
body { @include font-text; }
img { -webkit-transform: translateZ(0); transform: translateZ(0); max-width: 100%; }

#wrapper { position: relative; min-height: 100%; margin-bottom: -40px; }
#wrapper:after { content: ""; display: block; height: 40px; }

.footer { width: 100%; height:40px;  }

// media queries
@media (min-width: 700px) and (orientation: landscape) { 

}

